{% extends 'base.html.twig' %}

{% block title %}Dossiers - Skali{% endblock %}

{% block body %}
<section id="portfolio_section" class="portfolio_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Dossiers
      </h2>
    </div>
    <div class="row g-3 mb-4">
      {% for d in dossiers %}
        <div class="col-12 col-sm-6 col-md-3">
          <div class="box-1 position-relative">
            {% set path = 'img/imgDossier/' ~ d.token ~ '.' ~ d.ext %}
            <a href="{{ path('app_fichiers', {'token': d.token}) }}" class="d-block position-relative">
              <img src="{{ asset(path) }}" alt="{{ d.token }}" class="img-fluid" loading="lazy">
              <div class="label-box">
                <p class="m-0">{{ d.libelle }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      <div class="pagination-container d-flex justify-content-center">
        {{ knp_pagination_render(dossiers, null, {'template': 'pagination/bootstrap_v5_pagination.html.twig'}) }}
      </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
