{% block stylesheets %}
    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
{% endblock %}
{% block body %}
    {% include 'components/navbarBack.html.twig' %}
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('app_dossier_index') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></a>
                <a href="{{ path('app_fichier_new', {'token': dossier.token}) }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-primary">
                <h5 class="card-title text-center text-white">{{ dossier.libelle }}</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="dossierTable">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Créé le</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for fichier in fichiers %}
                        <tr>
                            <td class="text-center align-middle">
                                {% set path = 'img/imgFichier/' ~ fichier.token ~ '.' ~ fichier.ext %}
                                <img src="{{asset(path)}}" style="max-width: 300px;"></img>
                            </td>
                            <td class="text-center align-middle">
                                {{ fichier.createdAt ? dossier.createdAt|date('d/m/Y') : '' }}
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-flex">
                                    <div>
                                        <a href="{{ path('app_fichier_show', {'token': fichier.token}) }}" class="btn btn-info btn-sm me-2">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{{ path('app_fichier_edit', {'token': fichier.token}) }}" class="btn btn-warning btn-sm me-3">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <form method="post" action="{{ path('app_fichier_delete', {'token': fichier.token}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce fichier ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fichier.token) }}">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Aucun dossier trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('node_modules/datatables.net/js/dataTables.min.js') }}"></script>
    <script src="{{asset('node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js')}}"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#dossierTable').DataTable({
                pageLength: 50,
                language: {
                    url: "{{ asset('json/dataTables_fr.json') }}",
                },
            });
        });
    </script>
{% endblock %}