<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo/favicon.png') }}" type="image/png">
        <meta name="description" content="Skali capture l'intensité du sport à travers des images percutantes pour événements, athlètes et marques.">
        <meta name="keywords" content="Skali, Skali Studio, photographie sportive, photos sportives, portrait d’athlète, événements sportifs, Nîmes, France, action sportive, photo de football, photo de rugby, photo de course, photo de marathon, photo de natation, images sportives, communication visuelle, visuels sportifs, studio photo, photographe sportif, shooting sportif, reportages sportifs, photographie professionnelle, photographie événementielle, photographies de compétition, photographie athlète, capture d’émotion, sport en image, visuels pour marques, contenu visuel, photos pour réseaux sociaux, marketing sportif, médias sportifs, photo studio, photographie outdoor, Skali photographie, Skali Nîmes, Skali France, reportage sportif, photographie dynamique, photo action, photo performance, photographe Nîmes, photo d’équipe, images de sport, photo d’événement, portfolio sportif">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div>
            <header class="header_section row">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="menu_btn-style ">
                        <button onclick="closeNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                        </div>
                        <div class="overlay-content">
                        <a class="active" href="{{path('app_index')}}">
                            Accueil
                        </a>
                        <a class="" href="{{path('app_dossiers')}}">
                            Galerie
                        </a>
                        {% if app.user %}
                            <a class="" href="{{path('app_dossier_index')}}">
                                Back-office
                            </a>
                        {% endif %}
                        </div>
                    </div>
                    <a class="navbar-brand" href="{{path('app_index')}}">
                        <img src="{{asset('img/logo/Logo.png')}}" class="w-50"></img>
                    </a>
                </nav>
            </header>
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        <footer class="footer_section" style="margin-top: auto;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6">
                        <p>
                        &copy; <span id="displayYear"></span><a href="{{path('app_login')}}">All</a> Rights Reserved. Design
                        by Enzo D'aloia-D'ignazio
                        </p>
                    </div>
                    <div class="col-xl-6">
                        <div class="link_box">
                            <a href="https://www.instagram.com/skali.hlg?igsh=bTZ0dHZidHo2dGdq" target="_blank">
                                <i class="fa-brands fa-instagram" style="font-size: 24px; color: #E4405F;"></i>
                            </a>
                            <a class="active" href="{{path('app_index')}}">
                                Accueil
                            </a>
                            <a class="" href="{{ path('app_index') }}#about_section">
                                A propos de nous
                            </a>
                            <a class="" href="{{ path('app_dossiers') }}">
                                Portfolio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
